
@{
    ViewBag.Title = "Administrateur";
}

<div class="jumbotron">
    
    <p class="lead">Application de gestion de tickets / administrateur</p>

</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Incidents en cours", "IncidentsEnCours", "AffichageIncidents")</li>
        <li>@Html.ActionLink("Incidents clôturés", "Administrateur")</li>
        <li>@Html.ActionLink("Inventaire", "Create", "MATERIELs")</li>
        <li>@Html.ActionLink("Déclarez un incident", "IncidentsAdmin", "Home")</li>
        <li>@Html.ActionLink("Liste de l'inventaire", "Administrateur")</li>
        <li>@Html.ActionLink("Deconnexion", "Index", "Home")</li>
    </ul>
</div>

