@model AGTPPE.Models.TICKETS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TICKETS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emplacementMaterielTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emplacementMaterielTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeMaterielTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeMaterielTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.niveauUrgenceTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niveauUrgenceTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionIncident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreationTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreationTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateClotureTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateClotureTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATERIEL.emplacementMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATERIEL.emplacementMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTILISATEUR.nomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTILISATEUR.nomUtilisateur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTickets }) |
    @Html.ActionLink("Back to List", "Index")
</p>
