@model AGTPPE.Models.MATERIEL

@{
    ViewBag.Title = "Delete";
}

<div class="jumbotron">
    <p class="lead">Application de gestion de tickets.</p>

</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Incidents en cours", "IncidentsEnCours", "AffichageIncidents")</li>
        <li>@Html.ActionLink("Incidents clôturés", "Administrateur")</li>
        <li>@Html.ActionLink("Inventaire", "Create", "MATERIELs")</li>
        <li>@Html.ActionLink("Déclarez un incident", "IncidentsAdmin", "Home")</li>
        <li>@Html.ActionLink("Liste de l'inventaire", "Administrateur")</li>
        <li>@Html.ActionLink("Deconnexion", "Index", "Home")</li>
    </ul>
</div>
<div>
    <h4>Menu de suppression de matériel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emplacementMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emplacementMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeleMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeleMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeConnexionMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeConnexionMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeIpMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeIpMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numInfologMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numInfologMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celluleMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celluleMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etatMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etatMateriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroChariot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroChariot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTILISATEUR.nomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTILISATEUR.nomUtilisateur)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
        </div>
    }
</div>
