@model AGTPPE.Models.TICKETS

@{
    ViewBag.Title = "Delete";
}

<div class="jumbotron">
    <p class="lead">Application de gestion de tickets</p>

</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Incidents en cours", "Contact")</li>
        <li>@Html.ActionLink("Incidents clôturés", "Contact")</li>
        <li>@Html.ActionLink("Déclarez un incident", "Create", "TICKETS")</li>
        <li>@Html.ActionLink("Deconnexion", "Index", "Home")</li>
    </ul>
</div>
<div>
    <h4>Suppression d'un incident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emplacementMaterielTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emplacementMaterielTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeMaterielTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeMaterielTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.niveauUrgenceTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niveauUrgenceTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionIncident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreationTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreationTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateClotureTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateClotureTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATERIEL.emplacementMateriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATERIEL.emplacementMateriel)
        </dd>   
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
        </div>
    }
</div>
